body {
    background-color: deepskyblue;
    color: #000000;
    font-size: 18px;
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
}

#content{
    background-color: orange;
}

.navbar-nav{
    border: 1px outset blue;
}

.center{
    text-align: center;
}

.topbar-selections-home{
    border: 1px outset blue;
}

.topbar-selections-one{
    border: 1px outset blue;
}

.topbar-selections-two{
    border: 1px outset blue;
}

.topbar-selections-three{
    border: 1px outset orange;
}