body {
    background-color: deepskyblue;
    color: #000000;
    font-size: 18px;
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
}

#content{
    background-color: orange;
}

.navbar-nav{
    border: 1px outset blue;
    width: 100px;
}

.center{
    text-align: center;
}