body {
    background-color: deepskyblue;
    color: #000000;
    font-size: 18px;
    line-height: 2;
    font-family: 'Times New Roman', Times, serif
}

#content{
    background-color: orange;
}

.topbar-selections{
    color: navy;
}